<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Vector Underwriting</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="queue">
                <span class="bi bi-inbox-fill" aria-hidden="true"></span> Submission Queue
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="submissions">
                <span class="bi bi-folder2-open" aria-hidden="true"></span> All Submissions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-work">
                <span class="bi bi-person-workspace" aria-hidden="true"></span> My Work
            </NavLink>
        </div>
    </nav>
</div>

